// colors.scss

$colors: (
	purple: #151035,
	white: #dedbd6,
	yellow: #eace19,
	green: #45ccb4,
	black: #161616,
	gray: #252525
);

@each $name, $color in $colors {
	.color-#{$name} {
		color: $color;
	}
	.background-#{$name} {
		background-color: $color;
	}
}

@mixin color($name) {
	@extend .color-#{$name};
}
